<p id="notice"><%= notice %></p>

<h1><b>Property Details</b></h1><hr>
<p>
  <strong>Property:</strong>
  <%= @property.property %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @property.building_age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>
</div><hr>

 
<% @property.stations.each do |property| %>
  <% if @property.id == property.property_id %>
    <h2><b>Nearest station </b></h2>
    <p>
      <strong>Name of railway line:</strong>
      <%= property.name_of_railway_line %>
    </p>

    <p>
      <strong>Statation name:</strong>
      <%= property.statation_name %>
    </p>

    <p>
      <strong>How many minutes walks:</strong>
      <%= property.how_many_minutes_walks %>
    </p>
  <% end %>
<% end %>
<div class="links">
  <%= link_to 'Edit property information', edit_property_path(@property) %> |
  <%= link_to 'Back', properties_path %>
</div>