<b><h1>Property Detail</h1></b>

<p>
  <weak>Property:</weak>
  <%= @property.property %>
</p>

<p>
  <weak>Rent:</weak>
  <%= @property.rent %>
</p>

<p>
  <weak>Address:</weak>
  <%= @property.address %>
</p>

<p>
  <weak>Building age:</weak>
  <%= @property.building_age %>
</p>

<p>
  <weak>Remarks:</weak>
  <%= @property.remarks %>
</p>
<hr>
<b><h2>Nearest Station1</h1></b>
<p>
  <weak>Name of railway line:</weak>
  <%= @property.name_of_railway_line %>
</p>

<p>
  <weak>Station name:</weak>
  <%= @property.station_name %>
</p>

<p>
  <weak>How many minutes walk:</weak>
  <%= @property.how_many_minutes_walk %>
</p>
<b><h2>Nearest Station2</h1></b>
<p>
  <weak>Name of railway line:</weak>
  <%= @property.name_of_rail_way_line %>
</p>

<p>
  <weak>Station name:</weak>
  <%= @property.stationname %>
</p>

<p>
  <weak>How many minutes walk:</weak>
  <%= @property.how_many_minute_walk %>
</p>

<%= link_to 'Edit property information', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
